Observed Trends:

- Temperatures south of the equator appear to be higher at this time of the year
- Temperatures north of the equator appear to be lower at this time of the year
- There does not appear to be a significant relationship between cloudiness and latitude in this sample

In [1]:
# import dependencies
import pandas as pd
import numpy as np 
import requests as req 
import json
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime
from citipy import citipy
from api_keys import APPID

In [2]:
# retrive date
date = datetime.today()
cur_date = date.strftime('%m/%d/%Y')

In [38]:
# create intervals for latitude
lat_range = np.arange(-90, 108, 18)

lat_intervals = []

for x in range(len(lat_range)-1):
    
    if lat_range[x+1] == 90:
        
        lat_intervals.append((lat_range[x], lat_range[x+1] + .01))
    
    else:
        
        lat_intervals.append((lat_range[x], lat_range[x+1]))

lat_intervals

[(-90, -72),
 (-72, -54),
 (-54, -36),
 (-36, -18),
 (-18, 0),
 (0, 18),
 (18, 36),
 (36, 54),
 (54, 72),
 (72, 90.010000000000005)]

In [51]:
# retrive sample cities from python library
# define sample size
# sample_size = int(input('How many cities would you like to include in analysis? '))
sample_size = 340

# create dictionary to store sample city data
sample_cities = {
    'Country_Code': [],
    'City_Name': [],
    'Latitude': [],
    'Longitude': []
}

while sample_size > 0:
    
    for lat_min, lat_max in lat_intervals:
        
        if sample_size == 0:
            
            break
        
        else:
            
            # define random latitue and longitude
            lat = round(np.random.uniform(lat_min, lat_max),2)
            lng = round(np.random.uniform(-180, 180),2)

            # find nearest city to random lat, lng point
            city = citipy.nearest_city(lat, lng)

            # retrive name of city
            name = city.city_name

            # retrive country code of city
            code = city.country_code

            if name not in sample_cities['City_Name']:

                # add city data to sample_cities dictionary
                sample_cities['Country_Code'].append(code)
                sample_cities['City_Name'].append(name)
                sample_cities['Latitude'].append(lat)
                sample_cities['Longitude'].append(lng)

                sample_size -= 1

# create dataframe with sample_cities dictionary
city_df = pd.DataFrame(sample_cities)

city_df

            City_Name Country_Code  Latitude  Longitude
0         east london           za    -74.42      52.48
1            hermanus           za    -55.73       6.81
2          nelson bay           au    -36.35     158.69
3           jamestown           sh    -27.46     -17.72
4              padang           id     -4.74      93.46
5             tambura           sd      4.95      27.28
6           jagdalpur           in     19.18      82.02
7             kewanee           us     41.42     -89.82
8           sosenskiy           ru     54.07      36.07
9            cherskiy           ru     82.60     159.17
10            ushuaia           ar    -80.75     -23.69
11            mataura           pf    -38.10    -151.97
12         nueva loja           ec     -0.89     -75.98
13         pedernales           do     17.48     -72.01
14               hilo           us     18.51    -143.45
15             bethel           us     51.93    -161.39
16          fairbanks           us     71.56    -145.80
17           tasiilaq           gl     75.81     -36.54
18          busselton           au    -82.65      75.32
19      mar del plata           ar    -54.81     -46.13
20            rikitea           pf    -20.13    -121.07
21         santa rosa           bo    -14.39     -66.83
22            malakal           sd      8.95      31.79
23           pasighat           in     30.90      95.96
24               hami           cn     44.46      90.86
25            iqaluit           ca     65.26     -69.00
26           thompson           ca     73.40     -96.69
27              bluff           nz    -84.53     169.79
28          cape town           za    -70.08     -15.43
29          taolanaro           mg    -42.45      54.26
..                ...          ...       ...        ...
310           lao cai           vn     22.32     103.56
311           chapais           ca     56.34     -76.00
312          belmonte           br    -17.58     -32.73
313           bontang           id      1.21     117.80
314        cedar city           us     38.67    -112.85
315       yerbogachen           ru     59.68     106.84
316         olavarria           ar    -36.30     -60.74
317      richards bay           za    -30.98      35.86
318            mackay           au    -18.33     153.99
319           angoche           mz    -16.52      40.53
320            gashua           ng     13.19      10.80
321         marystown           ca     47.45     -55.14
322         belturbet           ie     54.08      -7.57
323           waitati           nz    -47.08     173.59
324            yulara           au    -27.46     124.82
325           melfort           ca     52.59    -104.69
326         ilulissat           gl     89.92     -40.11
327              nara           ml     18.94      -7.78
328    vestmannaeyjar           is     53.65     -23.36
329             tynda           ru     55.17     124.68
330         maneadero           mx     29.88    -118.99
331              oban           gb     56.33      -5.44
332          souillac           mu    -32.73      63.46
333           atambua           id    -10.41     126.95
334         marseille           fr     42.06       4.92
335            nyurba           ru     66.53     117.43
336          flinders           au    -32.07     131.32
337           bubaque           gw      2.77     -22.80
338             bilma           ne     21.00      15.33
339  arkhipo-osipovka           ru     42.87      37.89

[340 rows x 4 columns]

In [ ]:
# add columns for weather data
city_df['Temperature_(F)'] = ''
city_df['Humidity_(%)'] = ''
city_df['Cloudiness_(%)'] = ''
city_df['Wind_Speed_(mph)'] = ''

city_df.head()

In [ ]:
# gather weather information
weather_url = 'http://api.openweathermap.org/data/2.5/weather'

params = {
    'q': '',
    'units': 'imperial',
    'APPID': APPID
}

for index, row in city_df.iterrows():
    
    # change params 'q' to city name country code pair
    params['q'] = f'{row["City_Name"]},{row["Country_Code"]}'

    # request weather data
    weather_req = req.get(weather_url, params=params).json()    

    print(f'Now processing city #{index} {row["City_Name"]}. url: {weather_url}?APPID=APPID&q={params["q"]}&units={params["units"]}')
    
    try:
        
        # collect weather info
        temparature = weather_req['main']['temp']
        humidity = weather_req['main']['humidity']
        cloudiness = weather_req['clouds']['all']
        wind_speed = weather_req['wind']['speed']
        
        # add data to dataframe
        city_df.set_value(index, 'Temperature_(F)', temparature)
        city_df.set_value(index, 'Humidity_(%)', humidity)
        city_df.set_value(index, 'Cloudiness_(%)', cloudiness)
        city_df.set_value(index, 'Wind_Speed_(mph)', wind_speed)

    except KeyError:
    
        print(f'No weather info available for {row["City_Name"]}')
        city_df.set_value(index, 'Temperature_(F)', np.nan)
        city_df.set_value(index, 'Humidity_(%)', np.nan)
        city_df.set_value(index, 'Cloudiness_(%)', np.nan)
        city_df.set_value(index, 'Wind_Speed_(mph)', np.nan)

city_df.head()

In [ ]:
# save dataframe to csv
# city_df.to_csv('city_weather_data.csv')

In [ ]:
# plot temperature in relation to latitude
# change plot size
fig = plt.figure(figsize=(10, 6))

# change plot style
sns.set()
sns.set_context("paper")

# plot data
plt.scatter(city_df['Latitude'], city_df['Temperature_(F)'], color='blue', edgecolor='black')

# change x-axis limit
plt.xlim(-95, 95)

# adjust font size of axis ticks
plt.xticks(np.arange(-90, 100, 15), fontsize=12)
plt.yticks(fontsize=12)

# add title and labels to axes
plt.title(f'Temperature in Relation to City Latitude {cur_date}', fontsize=18)
plt.xlabel('Latitude', fontsize=15)
plt.ylabel('Temperature (F)', fontsize=15)

# save and show plot
# plt.savefig('Temperature_v_Lattitude.png')
plt.show()

In [ ]:
# plot humidity in relation to latitude
# change plot size
fig = plt.figure(figsize=(10, 6))

# change plot style
sns.set()
sns.set_context("paper")

# plot data
plt.scatter(city_df['Latitude'], city_df['Humidity_(%)'], color='blue', edgecolor='black')

# change x-axis limit
plt.xlim(-95, 95)

# adjust font size of axis ticks
plt.xticks(np.arange(-90, 100, 15), fontsize=12)
plt.yticks(np.arange(0, 110, 10), fontsize=12)

# add title and labels to axes
plt.title(f'Humidity in Relation to City Latitude {cur_date}', fontsize=18)
plt.xlabel('Latitude', fontsize=15)
plt.ylabel('Humidity_(%)', fontsize=15)

# save and show plot
# plt.savefig('Humidity_v_Lattitude.png')
plt.show()

In [ ]:
# plot cloudiness in relation to latitude
# change plot size
fig = plt.figure(figsize=(10, 6))

# change plot style
sns.set()
sns.set_context("paper")

# plot data
plt.scatter(city_df['Latitude'], city_df['Cloudiness_(%)'], color='blue', edgecolor='black')

# change x-axis limit
plt.xlim(-95, 95)

# adjust font size of axis ticks
plt.xticks(np.arange(-90, 100, 15), fontsize=12)
plt.yticks(np.arange(0, 110, 10), fontsize=12)

# add title and labels to axes
plt.title(f'Cloudiness in Relation to City Latitude {cur_date}', fontsize=18)
plt.xlabel('Latitude', fontsize=15)
plt.ylabel('Cloudiness_(%)', fontsize=15)

# save and show plot
# plt.savefig('Cloudiness_v_Lattitude.png')
plt.show()

In [ ]:
# plot wind speed in relation to latitude
# change plot size
fig = plt.figure(figsize=(10, 6))

# change plot style
sns.set()
sns.set_context("paper")

# plot data
plt.scatter(city_df['Latitude'], city_df['Wind_Speed_(mph)'], color='blue', edgecolor='black')

# change x-axis limit
plt.xlim(-95, 95)

# adjust font size of axis ticks
plt.xticks(np.arange(-90, 100, 15), fontsize=12)
plt.yticks(np.arange(0, 60, 10), fontsize=12)

# add title and labels to axes
plt.title(f'Wind Speed in Relation to City Latitude {cur_date}', fontsize=18)
plt.xlabel('Latitude', fontsize=15)
plt.ylabel('Wind_Speed_(mph)', fontsize=15)

# save and show plot
# plt.savefig('Wind_Speed_v_Lattitude.png')
plt.show()